html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#main-pannel {
    background-color: aqua;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#main-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vmin;
    width: 90vmin;
    position: fixed;
    opacity: 0.8;
    border-radius: 10%;
}

mboxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 90%;
}

mbox {
    background-color: black;
    border-radius: 10%;
    height: 25vmin;
    width: 25vmin;
}

#fog {
    background-image: radial-gradient(rgba(0, 0, 0, 0) 40%, white 60%);
    height: 100%;
    width: 70%;
    position: fixed;
}

#arrows {
    height: 100%;
    width: 80%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

.arrow {
    width: 15vmin;
    height: 15vmin;
    background-color: burlywood;
    border-radius: 100%;
    opacity: 0.5;
}

#center-arrows {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#info-pannel {
    background-color: blue;
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-flow: column;
}

#info-box {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-flow: column;
    margin-right: 40px;
}

#info-box h1 {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    font-size: 4vw;
}

#icons-box {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    align-items: baseline;
}

.info-icon {
    background-color: beige;
    height: 4vw;
    width: 4vw;
}

#map {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 20vw;
    width: 20vw;
    background-color: brown;
    margin-right: 40px;
    border-radius: 10%;
}

lbox {
    height: 40%;
    width: 40%;
    background-color: blueviolet;
    border-radius: 10%;
}