html {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#main-pannel {
	background-color: aqua;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#main-boxes {
	display: grid;
	position: absolute;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	padding: 4%;
	border-radius: 5%;
	height: 100%;
	width: 100%;
	border-radius: 10%;
	z-index: 0;

}

mbox {
	background-color: white;
	aspect-ratio: 1;
	border-radius: 10%;
}

#fog {
	background-image: radial-gradient(rgba(0, 0, 0, 0) 40%, white 60%);
	height: 100%;
	width: 100%;
	top:0px;
	left:0px;
	z-index: 1;
	position: absolute;
}

#arrows {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	flex-flow: column;
	align-items: center;
	z-index: 2;
	position: absolute;
}

.arrow {
	width: 20vmin;
	height: 20vmin;
	background-color: burlywood;
	border-radius: 100%;
	opacity: 0.5;
}

#center-arrows {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#info-pannel {
	background-color: blue;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-flow: column;
}

#info-box {
	height: 30%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-flow: column;
	margin-right: 40px;
}

#info-box h1 {
	color: white;
	font-family: 'Barlow', sans-serif;
	font-weight: 100;
	font-size: 4vw;
}

#icons-box {
	height: 30%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	align-items: baseline;
}

.info-icon {
	background-color: beige;
	height: 4vw;
	width: 4vw;
}

#map {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 6px;
	background-color: lightgrey;
	padding: 4%;
	border-radius: 5%;
	height: 20vw;
	max-height: 50vh;
	aspect-ratio: 1;
	margin-right: 40px;
}

lbox {
	background-color: white;
	aspect-ratio: 1;
	border-radius: 10%;
}